@model IEnumerable<AgMg_SandeepTrivedi.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="ProdList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductGroupId)
            </th>*@
             <th>
                @Html.DisplayNameFor(model => model.ProductGroupDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.ProductGroupId)
            </td>*@
             <td>
                @Html.DisplayFor(modelItem => item.ProductGroupDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<script>
        $(document).ready(function () {
            $('#ProdList').DataTable({
                //dom: 'Bfrtip',
                //searching: true,
                //paging: true,
                //pagesize:5,
                //info: false,
                //bLengthChange: false,
                //buttons: [
                //    //'copyHtml5',
                //    //'excelHtml5',
                //    'csvHtml5',
                //    //'pdfHtml5'
                //]
            });
        });
</script>